.block-quicktabs {
	.item-list {
		ul {
			li {
				font-size: 13px;
				font-weight: 800;

				&.active {
					a {
						color: $active-element;
					}
				}
			}
		}
	}
	.views-row {
		position: relative;
		padding-right: 20px;
		clear: both;
		min-height: 180px;
		@include border-bottom();

		.views-field-field-image {
			float: left;
			width: 20%;
			margin: 10px 10px 10px 0;

			img {
				@include border-radius(2px);
				@include box-shadow(1px 1px 1px rgba(0,0,0,0.5));
			}
		}

		.views-field-title {
			a {
				color: #2f9d9d;
				font-size: 16px;
				font-weight: 300;
			}
		}

		.views-field-body {
			font-size: 13px;

			&:after {
				clear: both;
			}
		}

		.views-field-name,
		.views-field-created {
			float: left;
			margin: 0 10px;
			font-size: 11px;
			font-weight: 700;
		}

		.views-field-view-node,
		.views-field-edit-node {
			float: right;
			margin: 0 10px;
			font-size: 13px;
			font-weight: 700;
		}

		.views-field-edit-node {
		
		}
	}
}

#bottom {
	h2,
	h3 {
		font-weight: 200;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 24px;
	}
}

/* Contact */

