/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/
@import "var";

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
}

ul.nice-menu a {
  padding: 0.3em 10px 0.3em 10px;
  font-size: 16px;
  @include link-colors($link,$link-hover,$link-hover,$link,$link-hover);
  font-weight: 800;
  margin-right: 3px;
  @include text-shadow(1px 1px 1px rgba(0,0,0,0.35));

  &.active {
    @include button-box(4px);
  }
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  margin-right: 0; /* LTR */
}

ul.nice-menu li.menuparent ul {
  background: rgba(0,0,0,0.8);
  @include border-radius(4px);
  position: absolute;
  z-index: 500;
}

ul.nice-menu ul li {
  width: 12.5em;
}

ul.nice-menu li.menuparent ul li:hover {
  @include button-box(0);
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
}

ul.nice-menu-left a,
ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
  @include border-radius(5px);
  border: 5px solid rgba(0,0,0,0.5);
  @include gradient(#013f61, #012a41);
  padding: 2px;
}

ul.nice-menu-down li {
  // needs latest Compass, add '@import "compass"' to your scss
  @include filter-gradient(#0173ac, #000179b0, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(1,115,172,1) 0%,rgba(41,137,216,1) 50%,rgba(40,137,215,0) 51%,rgba(1,121,176,0) 100%));
  @include 
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down li ul li a {
  font-size: 13px;
  font-weight: normal;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
}

ul.nice-menu-down li.menuparent:hover {
}

ul.nice-menu-down li li.menuparent {
}

ul.nice-menu-down li li.menuparent:hover {
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/******************************
 Bartik-specific CSS
******************************/
/**
 * Global CSS for ALL menu types
 */
.block ul.nice-menu,
.block ul.nice-menu ul {
  padding: 0;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
}

#header-region ul.nice-menu-down li.menuparent:hover {
}

#header-region ul.nice-menu-down li li.menuparent {
}

#header-region ul.nice-menu-down li li.menuparent:hover {
}
