@charset "CP852";
/**
 * @file
 * RTL companion for the styles.scss file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize-rtl.scss is the RTL language extension of normalize.scss
 */
/**
 * Lists
 */
/* line 9, ../sass/_normalize-rtl.scss */
dd {
  margin: 0 30px 0 0;
}

/* Address paddings set differently in IE 6/7. */
/* line 16, ../sass/_normalize-rtl.scss */
menu,
ol,
ul {
  padding: 0 30px 0 0;
}

/* Layout rules */
/**
 * @file
 * RTL companion for the layout-responsive.css file.
 */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
/* line 33, ../sass/layouts/_responsive.scss */
.rowMax,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
/* line 40, ../sass/layouts/_responsive.scss */
.footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Containers for grid items and flow items. */
/* line 46, ../../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#headWrapp:before, #headWrapp:after,
#header:before,
#header:after,
#offer:before,
#offer:after,
#shopping:before,
#shopping:after,
#aboutUs:before,
#aboutUs:after,
#social:before,
#social:after,
#bottom:before,
#bottom:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#headWrapp:after,
#header:after,
#offer:after,
#shopping:after,
#aboutUs:after,
#social:after,
#bottom:after,
#footer:after {
  clear: both;
}

/* Maksymalna szerokość dla treści */
/* line 61, ../sass/layouts/_responsive.scss */
.rowMax {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 75, ../sass/layouts/_responsive.scss */
#logo,
#navigation,
#slider,
#sliderLinks,
#offerService,
#packets,
#shoppingCart,
#shoppingSteps,
#socialIcons,
#footerInfo {
  float: right;
  width: 100%;
  margin-right: 0%;
  margin-left: -100%;
}

/* line 80, ../sass/layouts/_responsive.scss */
#aboutFirst,
#blog {
  float: right;
  width: 50%;
  margin-right: 0%;
  margin-left: -50%;
}

/* line 85, ../sass/layouts/_responsive.scss */
#aboutSecond,
#contact {
  float: right;
  width: 50%;
  margin-right: 50%;
  margin-left: -100%;
}

/* line 90, ../sass/layouts/_responsive.scss */
#serviceOne,
#packetOne {
  float: right;
  width: 100%;
  margin-right: 0%;
  margin-left: -100%;
}

/*
#serviceTwo,
#packetTwo {
  @include zen-grid-item(3,4);
}

#serviceThree,
#packetThree {
  @include zen-grid-item(3,7);
}

*/
/* Component (SMACSS module) rules */
/**
 * The RTL language extension of the inline component.
 */
/* List of links */
/* line 6, ../sass/components/_inline-rtl.scss */
.inline li {
  /* Bug in Safari causes display: inline to fail. */
  display: inline-block;
  padding: 0 0 0 1em;
}

/* The inline field label used by the Fences.module */
/* line 13, ../sass/components/_inline-rtl.scss */
span.field-label {
  padding: 0 0 0 1em;
}

/**
 * The RTL language extension of the forms component.
 */
/* Drupal's default login form block */
/* line 6, ../sass/components/_forms-drupal-rtl.scss */
#user-login-form {
  text-align: right;
}

/* line 11, ../sass/components/_forms-drupal-rtl.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: 0;
  margin-right: -20px;
}

/**
 * @file
 * The RTL language extension of the collapsible-fieldset component.
 */
/* line 7, ../sass/components/_collapsible-fieldsets-rtl.scss */
html.js .collapsible .fieldset-legend {
  background-position: 98% 75%;
  padding-left: 0;
  padding-right: 15px;
}
/* line 12, ../sass/components/_collapsible-fieldsets-rtl.scss */
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
  background-position: 98% 50%;
}

/**
 * @file
 * The RTL language extension of the form-tables component.
 */
/* line 7, ../sass/components/_form-tables-rtl.scss */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

/**
 * @file
 * The RTL language extension of the comments component.
 */
/* Nested comments are indented. */
/* line 7, ../sass/components/_comments-rtl.scss */
.indented {
  margin-left: 0;
  margin-right: 30px;
}

/**
 * The RTL language extension of the header component.
 */
/* Wrapping link for logo. */
/* line 6, ../sass/components/_header-rtl.scss */
.header__logo {
  float: right;
}

/* The secondary menu (login, etc.) */
/* line 11, ../sass/components/_header-rtl.scss */
.header__secondary-menu {
  float: left;
}

/**
 * The RTL language extension of the messages component.
 */
/* line 5, ../sass/components/_messages-rtl.scss */
.messages, .messages--status, .messages--warning, .messages--error {
  padding: 10px 50px 10px 10px;
  background-position: 99% 8px;
}

/**
 * The RTL language extension of the more-link component.
 */
/* line 5, ../sass/components/_more-link-rtl.scss */
.more-link {
  text-align: left;
}

/* line 8, ../sass/components/_more-link-rtl.scss */
.more-help-link {
  text-align: left;
}

/* line 11, ../sass/components/_more-link-rtl.scss */
.more-help-link a {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

/**
 * The RTL language extension of the navbar component.
 */
/* Main menu and secondary menu links and menu block links. */
/* line 8, ../sass/components/_navbar-rtl.scss */
.main-navigation .links,
.main-navigation .menu {
  text-align: right;
}
/* line 11, ../sass/components/_navbar-rtl.scss */
.main-navigation .links li,
.main-navigation .menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/**
 * The RTL language extension of the side-menu component.
 */
/* line 5, ../sass/components/_side-menu-rtl.scss */
.menu__item.is-collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

/**
 * The RTL language extension of the tabs component.
 */
/* line 5, ../sass/components/_tabs-rtl.scss */
.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: right;
}

/* SMACSS theme rules */
/* @import "theme-A-rtl"; */
/* @import "theme-B-rtl"; */
