#block-views-slideshow-block {
	margin-top: 10px;
	position: relative;

	.views-slideshow-pager-field-item {
		float: left;
		width: 10px;
		padding: 0 6px;
		background: rgba(255,255,255,0.5);
		border: 1px solid rgba(255,255,255,0.8);
		color: #000;
		font-size: 12px;
		cursor: pointer;
		font-weight: bold;
	}

	.views-slideshow-controls-top {
		position: absolute;
		left: 5px;
		bottom: 85px;
		z-index: 999;
	}
}

.slideshow_body {
	position:relative;

	#slideshow_body_in {
		position:absolute;
		width:100%;
		background: rgba(0,0,0,0.6);
		bottom:7px;

		a {
			padding:0 20px;
			color:#f5f5f5;
		}

		p {
			padding:0 20px;
			margin:10px 0;
			color:#f5f5f5;
			font-size:12px;
			height: 25px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			a{
				padding:0;
			}
		}
	}
}

.views-slideshow-cycle-main-frame {
	border:1px solid #edecec;
}

.views-slideshow-cycle-main-frame-row {
	z-index: 4 !important;
}


#views_slideshow_controls_text_slideshow-block {
	float:left;
	a {
		font-size:12px;
		padding:3px 10px;
		text-decoration:none;
		background:rgba(0,0,0,0.1);
		@include border-radius(3px);
	}
}

#views_slideshow_slide_counter_slideshow-block {
	float:right;
	margin-right:100px;
	font-size:12px;
}