.block_tab-titles {
	display: none;
}

$link-tab: #1b1b1b;
$link-tabh: lighten($link-tab, 10);

#block-views-last-video-block {
	margin-top: 10px;
	.item-list {
		.quicktabs-tabs {
			li {
				display: inline-block !important;
				width: 30%;
				text-align: center;
				padding: 5px 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					@include link-colors($link-tab, $link-tabh, $link-tabh, $link-tab, $link-tabh);
					text-transform: uppercase;
				}

				&.active {
					background: #fff;
					border: 1px solid rgba(0,0,0,0.3);
				}
			}
		}
	}
}