/**
 * @file
 * Branding header.
 */

// Wrapper for top

#top {
  background: #01b3d5;
  height: 101px;  
}

/* Wrapping link for logo. */
.header__logo {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
  @include adjust-font-size-to( $h1-font-size );
}

/* The link around the name of the website. */
.header__site-link {
  font-size: 48px;
  font-weight: 300;
  line-height: 2em;
  @include text-shadow(1px 2px 0 rgba(0,0,0,0.3));
  &:link,
  &:visited {
    color: #fafafa;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: darken(#fafafa, 5);
    text-decoration: none;
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right; /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  clear: both;
}
