
#content {
	p.submitted {
		margin-top: -10px;
		font-size: 11px;
		color: #262626;
		padding: 1px 10px;
		border-radius: 2px;
		width: 25%;
		text-align: center;
		background: rgba(230, 156, 27, 1);
		box-shadow: 0 3px #1b1b1b;

		a {
			text-shadow: 1px 1px  rgba(27, 27, 27, 0.46);
		}
	}
}

// TAGI

.field-name-field-tags {
	.field-items {
		.field-item { // pojedynczy tag
			float: left;
			padding: 1px 5px;
			background-color: rgb(255,255,255);
			@include filter-gradient(#ffffff, #ededed, vertical);
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%));
			border-radius: 10px;
			margin: 0 5px;
			color: #1b1b1b;
			font-size: 11px;
			@include box-shadow(1px 1px 2px rgba(0,0,0,0.3));
		}
	}
}