
#content {
	p.submitted {
		margin-top: -10px;
		font-size: 11px;
		color: #262626;
		padding: 1px 10px;
		border-radius: 2px;
		max-width: 35%;
		text-align: center;
		background: rgba(230, 156, 27, 1);
		box-shadow: 0 3px #1b1b1b;
		margin-top: 15px;

		a {
			text-shadow: 1px 1px  rgba(27, 27, 27, 0.46);
		}
	}
}

// Article NODE
// Ogolne
#maincontent {
	.field-type-taxonomy-term-reference {
		background: #1b1b1b;
		padding: 10px;
		margin: 10px 0;
		float: left;
		width: 98%;

		&:last-child {
			&:after {
				@include zen-clear();
			}
		}

		.field-label {
			float: left;
		}
		.field-items {
			float: left;

			.field-item {
				float: left;
				padding: 1px 5px;
				margin: 0 5px;
				background: rgba(200, 44, 44, 1);
				@include text-shadow(1px 1px rgba(0,0,0,0.3));
			}
		}
	}

	// TAGI

	.field-name-field-tags {
		.field-items {
			.field-item { // pojedynczy tag
				font-size: 11px;
				@include box-shadow(1px 1px 2px rgba(0,0,0,0.3));
			}
		}
	}

	.field-name-field-technologia {

	}
}
