html {
	background:#141414 url(../images/bg.jpg) center top;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	color:$light-color;
	max-width:1200px;
	margin:0 auto;
}

a {
	@include link-colors($link_normal,$link_hover,$link_hover,$link_normal,$link_hover);
	text-decoration:none;
}

h1, h2, h3, h4 {
	//text-transform:uppercase;
	font-weight:300;
	@include text-shadow(rgba(0,0,0,0.5) 1px 1px 1px);

}

h2.block__title {
	
	font-size: 24px;

}

