#footer {
	background:rgba(0,0,0,0.5);
	padding: 20px 10px;

	h2.block__title {
		color:$orange;
		border-left: 5px solid #fff;
		padding: 0 5px;
		font-size: 18px;
		background: rgba(0,0,0,0.5);

	}

	ul {
		background:rgba(0,0,0,0.5);
		padding: 5px 10px;
		@include border-radius(4px 4px 4px 4px);
		list-style:none;

		li {

			a {
				font-size:12px;
				@include link-colors($sub_normal,$sub_hover,$sub_hover,$sub_normal,$sub_hover);
			}
		}
	}

	#block-site-map-syndicate {
		.block__title {
			margin-bottom: 10px;
		}
	}
}