

#ourportals {
	h2.block__title {
		background: rgba(0,0,0,0.5);
		//text-transform:uppercase;
		color:$orange;

	}
}

#content {
	background:rgba(227,71,10,0.3);
	p {
		color:#f5f5f5;
		font-size:12px;
	}

	h2.block__title {
		color:$white;
		font-size:30px;
	}

	#maincontent {

	}
	#leftcontent {

		h3 {
			a {
				//@include link-colors($link_normal,$link_hover,$link_hover,$link_normal,$link_hover);
				font-size:24px;

			}
		}
	}
	#rightcontent {

		h3 {
			a {
				font-size:36px;
			}
		}
	}
}
#bottom {
	h2.block__title {
		color: $orange;
	}
}

#blog {
	background:rgba(0,0,0,0.5);
}

#partners {
	background:rgba(0,0,0,0.5);
}

#footer {
	h3 {
		font-size: 14px;
		color:$orange;
	}
	a {
		font-size:10px;
		text-transform:uppercase;
	}
}