// SUB MENU LINKS 
$sub_normal:#fdfdfd;
$sub_hover: darken($sub_normal, 15);

// ALL LINKS 
$link_normal:#fdfdfd;
$link_hover: darken($link_normal,20);

$orange: #fa4700;
$orange2: #e3470a;
$white: #fdfdfd;


// TEXT
$light-color:#fdfdfd;